table {
  width: 100%;
  border-collapse: collapse;
}

th {
  cursor: pointer;
  text-align: left;
  position: relative;
  padding-right: 20px;
  background-color: #cdcdcd;
  padding: 5px;
}

th.asc::after,
th.desc::after {
  content: '';
  position: absolute;
  right: 8px;
  border: 6px solid transparent;
}

th.asc::after {
  top: 50%;
  transform: translateY(-50%);
  border-bottom-color: #969494;
}

th.desc::after {
  top: 50%;
  transform: translateY(-50%);
  border-top-color: #969494;
}
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
